.button {
    -fx-background-color: #2c3e50; /* Primary button background color */
    -fx-background-radius: 0em;
    -fx-text-fill: white;  /* Ensure the text is visible */
    -fx-font-size: 14px;   /* Adjust font size for better readability */
    -fx-padding: 10px 20px;  /* Adjust padding for better spacing */
    -fx-cursor: hand;      /* Change cursor to hand on hover */
    -fx-border-width: 0 0 1px 0;  /* Add bottom border */
    -fx-border-color: #34495e;  /* Border color */
}

.button:hover {
    -fx-background-color: #34495e; /* Slightly lighter on hover */
    -fx-border-color: #2980b9;  /* Blue border on hover */
}

.button:pressed {
    -fx-background-color: #1abc9c;  /* Pressed button color */
}

.button:focused {
    -fx-background-color: #34495e; /* Background when focused */
    -fx-border-color: #2980b9;  /* Blue border when focused */
}

.vbox {
    -fx-padding: 10px;
    -fx-spacing: 10px;  /* Add spacing between buttons */
    -fx-background-color: #2c3e50; /* Ensure the VBox background matches the buttons */
}


.table-view {
    -fx-background-color: #ecf0f1;  /* Light background color */
    -fx-text-fill: #2c3e50;  /* Dark text color for contrast */
}

.table-view .column-header {
    -fx-background-color: #34495e;  /* Header background color */
    -fx-text-fill: white;  /* Header text color */
}

.table-view .column-header-background {
    -fx-background-color: #34495e;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;  /* Bold font for better readability */
}

.tab {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;
}

.tab:selected {
    -fx-background-color: #34495e;
}

#closeButton {
    -fx-background-color: red;
}

#closeButton:hover {
    -fx-background-color: darkred;
}
